*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
}

/* Navbar Styles */

 nav{
    background-color: white;
    width:100%;
    height: 2.5rem; 
    display:flex;
    align-items: center;
    justify-content: space-around ;
}

.nav-logo {
    width:2.6rem;
}

.nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-link > img {
    width: 1rem;
}

.nav-link > span {
    font-size: 0.6rem;
}


 nav > div input {
    border: none;
    background-color: rgb(199,221, 228);
    height: 1.8rem;
    border-radius: 0.2rem;
    padding: 0.5rem;
    }

nav > div {
    display: flex;
    align-items: center;
}
/* Main section Styles */

main{
    margin: 1rem;
    display: flex;
    justify-content: space-around;
}


.side-section{
    width: 22%;
}
.middle-section{
    width: 47%;
}

.side-section > div {
    background-color: white;
    margin:0.5rem;
    border-radius: 0.3rem;
    padding: 1rem;
}

.middle-section > div{
  background-color: white;
  margin: 0.5rem;
  border-radius: 0.3rem;
}

.create-post{
 height: 7rem;
}

.post{
    height: 20rem;
}

.create-post-input{
    padding: 20px 25px 10px;
    display: flex;
    align-items: flex-start;

}

.create-post-input-img{
    height: 20px;
    width: 20px;
    border-radius: 50%;


}

.create-post-input textarea{
    width: 100%;
    border: 0;
    outline: 0;
    resize: none;
    background: transparent;
    margin-top: 8px;
}
::placeholder{
    font-weight: 500;
}

.create-post-links {
    display: flex;
    width: 20rem;
    height: 15rem;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-left: 10px 0 10px;

    
}
 span{
    padding:0 30px;
}

.sort-by {
    display: flex;
    align-items:center;
    margin: 10px 0;

    
}

.sort-by hr {
    flex: 1;
    border: 0;
    height: 1px;
    background: #ccc;
}


.sort-by p {
    font-size: 13px;
    padding-left: 5px;
}

.sort-by p span {
    font-weight: 600;
    cursor: pointer;
}

.sort-by p span img {
    width: 12px;
    margin-left: 3px;
}

.post {
    background: #fff;
    padding: 20px 25px 5px;
    margin: 5px 0 15px;
}

.post-author {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.post-author img {
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5px;
}


.post-author h1 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.post-author small {
    display: block;
    margin-bottom: -2px;
}

.post p {
    font-size: 15px;
    margin-bottom: 15px;
}





.create-post-links li img {
    width: 15px;
    margin-right: 5px;

}

.create-post-links li:last-child {
    background: #045be6;
    color: #fff;
    border-top: 0;
    border-right: 0;

}


.side-section > div >p {
    font-size: 0.9rem;
    color: gray;
}

.nav-profile-img {
    width: 40px;
    border-radius: 50%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    align-items: center;

}

.side-profile-link{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ccc;
    
}

.siderbar-activity-img {
    background-color: #fff;
    display: flex;
    align-items: center;
    font-size: 12px;
    margin: 3px;
    width: 20px;
    margin-right: 20px;

}
.copyright-msg{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-top: 10px;
    font-weight: 500;
}

.copyright-msg img{
    width: 30px;
    margin-right: 4px;

}


